[submodule "vendor/godot-cpp"]
	path = vendor/godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp.git
[submodule "vendor/sqlite_modern_cpp"]
	path = vendor/sqlite_modern_cpp
	url = https://github.com/SqliteModernCpp/sqlite_modern_cpp.git
